.header {
  background-color: #014535;
  color: #fff;
}

.header-title {
  float: left;
  padding: 33px 20px;
}

.header-li li {
  float: left;
  padding: 33px 20px;
}

.main-title h1{
  font-size: 150px;
  margin:0;
  padding:0;
}

.main-title h2{
  font-size: 100px;
}
