.header {
  background-color: #014535;
  color: #fff;
}

.header-title {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.main-title h1{
  font-size: 150px;
  margin:0;
  padding:0;
}

.main-title h2{
  font-size: 100px;
}
